<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:webflow-config="http://www.springframework.org/schema/webflow-config"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd http://www.springframework.org/schema/webflow-config http://www.springframework.org/schema/webflow-config/spring-webflow-config.xsd">

    <context:component-scan base-package="com.packt.webstore.interceptor" />

    <mvc:interceptors>
            <bean class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
                <property name="paramName" value="language"/>
            </bean>
            <bean class="com.packt.webstore.interceptor.PromoCodeInterceptor">
                <property name="promoCode" value="OF3RTA"/>
                <property name="errorRedirect" value="invalidPromoCode"/>
                <property name="offerRedirect" value="products"/>
            </bean>
    </mvc:interceptors>
    <mvc:annotation-driven content-negotiation-manager="contentNegotiationManager" />
    <mvc:resources location="/resources/" mapping="/resource/**"/>
    <mvc:annotation-driven enable-matrix-variables="true" />

    <context:component-scan base-package="com.packt.webstore"/>
    <bean id= "messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basename" value="messages"/>
    </bean>
    <bean id="message"
          class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property name="basename" value="messages" />
    </bean>
    <bean id="localeResolver" class="org.springframework.web.servlet.i18n.CookieLocaleResolver"/>

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/" />
        <property name="suffix" value=".jsp" />
    </bean>
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="10240000"/>
    </bean>

    <bean id="contentNegotiationManager"
          class="org.springframework.web.accept.ContentNegotiationManagerFactoryBean">
        <property name="favorPathExtension" value="true" />
        <property name="favorParameter" value="true"/>
        <property name="parameterName" value="mediaType"/>
        <property name="ignoreAcceptHeader" value="true" />
        <property name="defaultContentType" value="application/json" />
        <property name="useJaf" value="false" />

        <property name="mediaTypes">
            <map>
                <entry key="json" value="application/json" />
                <entry key="xml" value="application/xml" />
            </map>
        </property>
    </bean>
    <bean id="productValidator" class="com.packt.webstore.validator.ProductValidator">
        <property name="springValidators">
            <set>
                <ref bean="unitsInStockValidator" />
            </set>
        </property>
    </bean>
    <bean id="unitsInStockValidator" class="com.packt.webstore.validator.UnitsInStockValidator"/>

    <bean id="flowHandlerMapping"
          class="org.springframework.webflow.mvc.servlet.FlowHandlerMapping">
        <property name="flowRegistry" ref="flowRegistry" />
    </bean>
    <bean id="flowHandlerAdapter" class="org.springframework.webflow.mvc.servlet.FlowHandlerAdapter">
        <property name="flowExecutor" ref="flowExecutor" />
    </bean>

    <webflow-config:flow-executor id="flowExecutor"/>
    <webflow-config:flow-registry id="flowRegistry" base-path="WEB-INF">
        <webflow-config:flow-location path="/flows/checkout/checkout-flow.xml" id="checkout"/>
    </webflow-config:flow-registry>
</beans>